.title {
  color: var(--color-white);
  margin: 0;
  max-width: 550px;
  text-align: center;
}

.version {
  color: var(--color-grey);
  text-align: center;
}

.main {
  color: var(--color-grey);
  margin: 0;
  max-width: 400px;
  text-align: center;
}

.logo {
  height: 200px;
  margin-bottom: 30px;
}
