<!DOCTYPE html>
<html>
  <head>
    <meta charSet='utf-8'/>
    <meta httpEquiv='X-UA-Compatible' content='IE=edge'/>
    <meta name='viewport' content='width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no,viewport-fit=cover'/>
    <meta name='theme-color' content='#000'/>

    <meta property='og:type' content='website'/>

    <meta name='twitter:card' content='summary_large_image'/>

    <meta name='mobile-web-app-capable' content='yes'/>
    <meta name='apple-mobile-web-app-capable' content='yes'/>
    <meta name='apple-mobile-web-app-status-bar-style' content='black-translucent'/>
    <link rel='apple-touch-icon' href='/app-icon-57.png' sizes='57x57' type='image/png'/>
    <link rel='apple-touch-icon' href='/app-icon-60.png' sizes='60x60' type='image/png'/>
    <link rel='apple-touch-icon' href='/app-icon-72.png' sizes='72x72' type='image/png'/>
    <link rel='apple-touch-icon' href='/app-icon-76.png' sizes='76x76' type='image/png'/>
    <link rel='apple-touch-icon' href='/app-icon-114.png' sizes='114x114' type='image/png'/>
    <link rel='apple-touch-icon' href='/app-icon-120.png' sizes='120x120' type='image/png'/>
    <link rel='apple-touch-icon' href='/app-icon-144.png' sizes='144x144' type='image/png'/>
    <link rel='apple-touch-icon' href='/app-icon-152.png' sizes='152x152' type='image/png'/>
    <link rel='apple-touch-icon' href='/app-icon-180.png' sizes='180x180' type='image/png'/>
    <link rel='apple-touch-icon' href='/app-icon-192.png' sizes='192x192' type='image/png'/>
    <link rel='manifest' href='/manifest.json'/>
  </head>
  <body>
    <div id='app'></div>
  </body>
</html>
